/* здесь подключите шрифты */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"),
    url("/source/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/source/fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"),
    url("/source/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/source/fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"),
    url("/source/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/source/fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

