/* здесь используйте глобальные переменные */
//colors
$primary: #7859cf; //Primary
$secondary: #f0ebff; //Secondary
$grey: #bdbdbd; //Grey
$white: #ffffff; //White


//viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;