/* здесь используйте глобальные переменные */
//colors
$base-primary: #7859cf; //Base/Primary
$base-secondary: #f0ebff; //Base/Secondary
$base-grey: #bdbdbd; //Base/Grey
$base-white: #ffffff; //Base/White
$base-black: #333333; //Base/Black


//viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

//fonts
$base-font: "Montserrat", "Arial", sans-serif;
