.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  //display: flex;
  //align-items: center;
  max-width: $mobile-width;

  &--hero {
    padding: 0;
  }
}

//Tablet Viewport
@media (min-width: 768px) {
  .container {
    max-width: $tablet-width;
  }
}

//Desktop Viewport
@media (min-width: 1440px) {
  .container {
    max-width: $desktop-width;
    padding: 0 40px;

    &--hero {
      padding: inherit;
    }
  }
}
