.features__specificity {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  display: block;
  margin: 0;
  padding-top: 50px;
  color: $base-primary;
  text-align: center;
  text-transform: uppercase;
}

.features__title {
  margin: 5px 0 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.features__list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  row-gap: 30px;
  list-style-type: none;
}

.features__item {
  position: relative;

  //display: grid;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 52px;
    height: 56px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--speed {
    &::before {
      background-image: url("../../icons/features-speed.svg");
    }
  }

  &--comfort {
    &::before {
      background-image: url("../../icons/features-comfort.svg");
    }
  }

  &--energy {
    &::before {
      background-image: url("../../icons/features-energy.svg");
    }
  }

  &--eco {
    padding-top: 4px;

    &::before {
      background-image: url("../../icons/features-eco.svg");
    }
  }
}

.features__subtitle {
  margin: 66px 0 6px;
  font-size: 18px;
  line-height: 32px;

  &--eco {
    margin: 62px 0 5px;
  }
}

.features__description {
  margin: 0;
}

//Tablet Viewport
@media (min-width: 768px) {
  .features__specificity {
    padding-top: 60px;
  }

  .features__title {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  .features__list {
    padding-left: 82px;
    grid-template-columns: 250px 260px;
    gap: 50px 119px;
    // column-gap: 119px;
    // row-gap: 50px;
  }

  .features__item {
    &--speed {
      &::before {
        top: 3px;
        left: -46px;
      }
    }

    &--comfort {
      &::before {
        top: -1px;
        left: -46px;
      }
    }

    &--energy {
      &::before {
        top: -1px;
        left: -45px;
      }
    }

    &--eco {
      &::before {
        top: 4px;
        left: -46px;
      }
    }
  }

  .features__subtitle {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0;
    color: $base-black;
    text-align: left;

    &--eco {
      margin: -4px 0 10px;
    }
  }

  .features__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0;
    text-align: left;
  }
}

//Desktop Viewport
@media (min-width: 1440px) {
  .features__specificity {
    padding-top: 100px;
  }

  .features__list {
    padding: 0;
    grid-template-columns: 320px 372px 322px 374px;
    gap: 0;
  }

  .features__item {
    &--speed {
      &::before {
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--comfort {
      &::before {
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--energy {
      &::before {
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--eco {
      &::before {
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .features__subtitle {
    margin: 96px 0 10px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0;
    color: $base-black;
    text-align: center;

    &--eco {
      margin: 91px 0 11px;
    }
  }

  .features__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0;
    text-align: center;
  }
}
