.header__wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 60px;
}

.header__logo-img {
  //outline: red 1px solid;
  display: block;
  width: 32px;
  height: 36px;
  background-repeat: no-repeat;
  background-image: url(../../images/logo-mobile.svg);
}

.header__logo-title {
  display: none;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

// Tablet Viewport
@media (min-width: $tablet-width) {
  .header__logo-img {
    width: 82px;
    background-image: url(../../images/logo-tablet.svg);
  }
}

@media (min-width: $desktop-width) {
  .header__logo-img {
    width: 170px;
    background-image: url(../../images/logo-desktop.svg);
  }
}
