.header__wrapper {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.header__logo-img {
  position: relative;
  display: block;
  width: 32px;
  height: 36px;
  background-repeat: no-repeat;
  background-image: url("../../images/logo-mobile.svg");
  margin-right: 66px;
  flex-shrink: 0;
}

.header__logo-title {
  display: none;
  margin: 0;
  padding: 0;
}

// Tablet Viewport
@media (min-width: $tablet-width) {
  .header__logo-img {
    width: 82px;
    background-image: url("../../images/logo-tablet.svg");
    margin-right: 68px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo-img {
    width: 170px;
    background-image: url("../../images/logo-desktop.svg");
    margin-right: 20px;
  }

  .header__logo-title {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: $base-black;
    overflow: hidden;
    margin-right: 163px;
  }
}
